.darkMode {
  .category {
    .category__content {
        h2{
           color: $color-dark-5;
        }
      .category__items {
        background-color: $color-dark-0;
        border-color: $color-dark-2;
        &:hover{
            box-shadow: 0 0 3px 2px $color-dark-0;
        }
      }
    }
  }
}
