.partner {
  background-color: #f7f8fa;
  padding-top: $pd-1 + 5;
  .partner__content {
    width: 70%;
    margin: 0 auto;
    .partner__text {
      text-align: center;
    }
    .partner__imgs {
      display: flex;
      justify-content: space-between;
    }
  }
  @include reponsive("extra-large") {
    .partner__content {
      width: 80%;
    }
  }
  @include reponsive("large") {
    .partner__content {
      width: 90%;
    }
  }
  @include reponsive("medium") {
    .partner__content {
        width: 100%;
      .partner__imgs {
        flex-wrap: wrap;
        .partner__items {
          width: 50%;
          text-align: center;
          margin-bottom: $mg-0 + 5;
        }
      }
    }
  }
}
